.avia-image-container.av-km3thwxf-c528ecd801e789942cf53d285580c2c2 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-km3thwxf-c528ecd801e789942cf53d285580c2c2 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-2kbj-29ee532084294fc746ac53e6085ac344{
padding-bottom:48px;
}
body .av-special-heading.av-2kbj-29ee532084294fc746ac53e6085ac344 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2kbj-29ee532084294fc746ac53e6085ac344 .av-subheading{
font-size:24px;
}

.avia-section.av-juu3n4h3-d60d5f479ddc2f2efca1ed9cd65f45e0 .av-parallax .av-parallax-inner{
background-repeat:no-repeat;
background-image:url(../images/beautiful-lawns.jpg);
background-position:50% 0%;
background-attachment:scroll;
}

@keyframes av_boxShadowEffect_av-3zof-f4cbbdb2b8de71d1ce8c3f935ed56515-column {
0%   { box-shadow:  0 0 0 0 #c9c9c9; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #c9c9c9; opacity: 1; }
}
.flex_column.av-3zof-f4cbbdb2b8de71d1ce8c3f935ed56515{
box-shadow: 0 0 10px 0 #c9c9c9;
border-width:1px;
border-color:#a3a3a3;
border-style:solid;
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#ffffff;
}

.avia-image-container.av-jun0n5pg-ad09f759c5eca8d272bf434176ea111c img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jun0n5pg-ad09f759c5eca8d272bf434176ea111c .av-image-caption-overlay-center{
color:#ffffff;
}

#top #wrap_all .avia-button.av-jun0pt47-a15dca0e2fc109d1219e76e9e7cc462c{
background-color:#1e40c8;
border-color:#1e40c8;
color:#ffffff;
transition:all 0.4s ease-in-out;
}

@keyframes av_boxShadowEffect_av-3zof-91023b9dcb5677612bac703d57de3617-column {
0%   { box-shadow:  0 0 0 0 #c9c9c9; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #c9c9c9; opacity: 1; }
}
.flex_column.av-3zof-91023b9dcb5677612bac703d57de3617{
box-shadow: 0 0 10px 0 #c9c9c9;
border-width:1px;
border-color:#a3a3a3;
border-style:solid;
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#ffffff;
}

@keyframes av_boxShadowEffect_av-3zof-91023b9dcb5677612bac703d57de3617-column {
0%   { box-shadow:  0 0 0 0 #c9c9c9; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #c9c9c9; opacity: 1; }
}
.flex_column.av-3zof-91023b9dcb5677612bac703d57de3617{
box-shadow: 0 0 10px 0 #c9c9c9;
border-width:1px;
border-color:#a3a3a3;
border-style:solid;
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#ffffff;
}

@keyframes av_boxShadowEffect_av-3zof-91023b9dcb5677612bac703d57de3617-column {
0%   { box-shadow:  0 0 0 0 #c9c9c9; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #c9c9c9; opacity: 1; }
}
.flex_column.av-3zof-91023b9dcb5677612bac703d57de3617{
box-shadow: 0 0 10px 0 #c9c9c9;
border-width:1px;
border-color:#a3a3a3;
border-style:solid;
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#ffffff;
}

.avia-image-container.av-jun0n5pg-bb261429e6d850e68d85253291e3fc2e img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jun0n5pg-bb261429e6d850e68d85253291e3fc2e .av-image-caption-overlay-center{
color:#ffffff;
}

#top #wrap_all .avia-button.av-jun0pt47-7c8af9d6d7b723fba4032b495c7ea209{
background-color:#ff9000;
border-color:#ff9000;
color:#ffffff;
transition:all 0.4s ease-in-out;
}

.avia-image-container.av-jun0n5pg-28502f80ceb5957dd68d5953e45dde4c img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jun0n5pg-28502f80ceb5957dd68d5953e45dde4c .av-image-caption-overlay-center{
color:#ffffff;
}

#top #wrap_all .avia-button.av-jun0pt47-82f595c57e346e083921e150926781b3{
background-color:#015604;
border-color:#015604;
color:#ffffff;
transition:all 0.4s ease-in-out;
}

.avia-image-container.av-jun0n5pg-67c56380c283772c0e136365abb856d3 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jun0n5pg-67c56380c283772c0e136365abb856d3 .av-image-caption-overlay-center{
color:#ffffff;
}

#top #wrap_all .avia-button.av-jun0pt47-c59fca3f0153591f421966e3694b6f47{
background-color:#4d2003;
border-color:#4d2003;
color:#ffffff;
transition:all 0.4s ease-in-out;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
.av-special-heading.av-2kbj-29ee532084294fc746ac53e6085ac344 .av-subheading{
font-size:24px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
.av-special-heading.av-2kbj-29ee532084294fc746ac53e6085ac344 .av-subheading{
font-size:20px;
}
}

@media only screen and (max-width: 479px){ 
.av-special-heading.av-2kbj-29ee532084294fc746ac53e6085ac344 .av-subheading{
font-size:18px;
}
}
